body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREjND4A_sIFXDMyz-FRwE_EguLvzuo3isQFw&s);
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    margin-bottom: 5px;
}

th,
tr,
td {
    border: 1px solid black;
    background-color: bisque;
}
h2 {
    color: red;
}

#title-heading {
    background-color: bisque;
    display:inline-block;
    margin-bottom: 5px;
}